<h4>Welcome! Please login.</h4>
<%= form_tag '/sessions' do %>
<table>
  <col width="100">
  <col width="100">
  <thead>
    <Login:>
  </thead>
  <tbody>
    <tr>
      <td><label>Name: </label></td>
      <td><input name=name></td>
    </tr>
    <tr>
      <td><label>Password: </label></td>
      <td><%= password_field_tag %></td>
    </tr>
    <tr>
      <td><input type=submit value='login'></td>
    </tr>

  </tbody>
</table>
<% end %>
